.prim {
    color: #141430;
}

.bg-prim {
    background-color: #141430;
}

html {
    background-color: #E9F2F8;
}

/*********************************
 * HOME *
*********************************/
.school {
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: 40vh;
}

.school h1 {
    color: white;
    font-size: 3.8vw;
    text-align: left;
    text-transform: uppercase;
}

.school p {
    color: white;
    font-size: 2vw;
    text-align: left;
}

.button {
    border-radius: 12px;
    padding: 4px 14px 4px 14px;
    font-size: small;
    color: white;
    background-color: #141430;
    font-family: Montserrat;
}

.banner {
    z-index: -1;
    height: 30vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: aliceblue;
}

.about {
    width: 40vw;
    position: absolute;
    left: 30%;
    top: 40%;
    z-index: 1;
    border-radius: 12px;
    text-align: center;
    padding: 2rem;
    background-color: #141430;
}

.about h2 {
    color: white;
    font-weight: bold;
    font-size: 2vw;
}

.about p {
    color: white;
    font-family: Montserrat;
    font-size: 1.2vw;
}
.cover{
    position: relative;
}
.camera {
    z-index: 1;
    top: 10px;
    right: 10px;
    position: absolute;
    font-size: xx-large;
}
.cam {
    z-index: 1;
    top: 5px;
    right: 5px;
    position: absolute;
    font-size: x-large;
}

.programs {
    margin-top: 22vh;
    color: #141430;
    text-align: center;
}

.programs p {
    font-weight: bold;
    font-family: Montserrat;
}

.programs i {
    font-size: 4em;
}

#about_program {
    margin: 5%;
    border-radius: 24px;
    color: #141430;
    background-color: #E9F2F8;
    padding: 2vw;

}

#about_program .row {
    margin-left: 10%;
    width: 80%;
}

#about_program h1 {
    font-family: Montserrat;
    font-weight: bolder;
    text-align: center;
}

#about_program h2 {
    font-family: Montserrat;
    font-weight: bold;
}

#about_program .program {
    font-family: Montserrat;
    color: black;
    margin-top: 2vh;
    font-weight: bold;
}

#message {
    margin-right: 5%;
    margin-left: 5%;
    padding: 2vw;
}

#message h1 {
    font-weight: bolder;
    color: #141430;
    font-family: Montserrat;
}

#message a {
    font-family: Montserrat;
    color: #141430;
    font-weight: bold;
    text-decoration: none;
}

#message button {
    border-radius: 20px;
    font-size: 4vh;
    font-weight: bold;
    font-family: Montserrat;
    background-color: #141430;
    color: white;
}

#help {
    padding: 15vh 0 15vh 0;
    margin-top: 10vh;
    background-position: center;
}

#help .title {
    text-align: center;
    font-weight: bold;
    font-size: 6vw;
    color: white;
    font-family: Montserrat;
}

#help button {
    border-radius: 20px;
    font-size: 2vw;
    font-weight: bold;
    font-family: Montserrat;
}

#connect {
    margin: 0px 3vw 0px 3vw;
    font-family: Montserrat;
    color: #141430;

}

#connect .title {
    font-weight: bolder;
    font-style: italic;
    font-family: Montserrat;
    /* font-size:3vw; */
}

#connect input {
    border: none;
}

#connect p {
    font-weight: bold;
    font-size: 1.2vw;
}

#connect input:focus {
    border: none;
    border-bottom: 2px solid #141430;

}

#connect input {
    background-color: #E9F2F8;
}

#connect input::placeholder {
    font-weight: bold;
    color: #141430;
    font-family: Montserrat;
}

.bottom {
    margin: 0;
    background-color: #E9F2F8;
}

.bottom .mail {
    font-weight: bold;
    font-size: 1.5vw;
}

.form {
    background-color: #141430;
    padding: 4vw;
    border-radius: 12px;
    font-family: Montserrat;
    font-weight: bold;

}

.left-sidebar .upgrade-btn {
    display: none;
}

.login {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #141430;
}

#profile {
    background-color: #E9F2F8;
    min-height: 100vh;
}

#profile .car {
    background-color: #E9F2F8;
    border-radius: 12px;
    padding: 0;
}

#profile .car img {
    object-fit: cover;
    height: 20vh;
    margin: 0px;
    border-radius: 12px 12px 0px 0px;
    /* image-orientation: 10deg; */
}

#profile .car .icon {
    position: relative;
    z-index: 1;
    top: -1em;
    color: black;
    font-weight: bolder;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    text-align: center;
    background-color: #E9F2F8;
    font-size: 4em;
}

.progression ul {
    list-style: none;
}

footer {
    background-color: #141430;
    color: white;
    font-family: Montserrat;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

@media (max-width:760px) {
    .school h1 {
        font-size: 4.8vw;
    }

    .school p {
        font-size: 3vw;
    }

    .about {
        top: 30%;
        width: 60vw;
        right: 10%;
    }

    .about h2 {
        font-size: 3vw;
    }

    .about p {
        font-size: 2.2vw;
    }
}